In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Rikitea,PF,75.69,clear sky,-23.12,-134.97,Pension Maro'i
1,4,Atuona,PF,81.19,overcast clouds,-9.80,-139.03,Villa Enata
2,7,Santa Maria Del Oro,MX,79.14,clear sky,25.93,-105.37,Hotel Palacio Del Sol
3,24,Kieta,PG,80.24,light rain,-6.22,155.63,NaN
4,27,Luganville,VU,77.00,scattered clouds,-15.53,167.17,The Espiritu Hotel

In [3]:
# Filter the DataFrame for each city you want to go to and create separate DataFrames for each city.
city1 = vacation_df.loc[vacation_df["City"] == "Hurghada"]
city2 = vacation_df.loc[vacation_df["City"] == "Medina"]
city3 = vacation_df.loc[vacation_df["City"] == "Salalah"]
city4 = vacation_df.loc[vacation_df["City"] == "Nizwa"]

In [4]:
city1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
70,251,Hurghada,EG,77.0,clear sky,27.26,33.81,Sea Star Beau Rivage Hotel

In [5]:
city2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
119,406,Medina,SA,87.8,scattered clouds,24.47,39.61,Elaf Taiba Hotel فندق إيلاف طيبة

In [6]:
city3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
34,117,Salalah,OM,84.2,clear sky,17.02,54.09,HAMDAN PLAZA HOTEL

In [7]:
city4

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
124,418,Nizwa,OM,82.58,clear sky,22.93,57.53,Orient Apartments

In [8]:
# Use the list indexing and Pandas methods to get the latitude-longitude pairs 
# for each city DataFrame as tuples.
Hurghada = (city1.iloc[0]["Lat"],city1.iloc[0]["Lng"])
Hurghada

(27.26, 33.81)

In [9]:
import gmaps.datasets
gmaps.configure(api_key=g_key)

# Latitude-longitude pairs
Hurghada = (city1.iloc[0]["Lat"],city1.iloc[0]["Lng"])
Medina = (city2.iloc[0]["Lat"],city2.iloc[0]["Lng"])
Salalah = (city3.iloc[0]["Lat"],city3.iloc[0]["Lng"])
Nizwa = (city4.iloc[0]["Lat"],city4.iloc[0]["Lng"])


fig = gmaps.figure()
route = gmaps.directions_layer(Hurghada, Salalah, waypoints=[Medina, Nizwa],
        travel_mode='DRIVING')

fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
hotel_df = pd.concat([city1, city2, city3, city4])
hotel_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
70,251,Hurghada,EG,77.00,clear sky,27.26,33.81,Sea Star Beau Rivage Hotel
119,406,Medina,SA,87.80,scattered clouds,24.47,39.61,Elaf Taiba Hotel فندق إيلاف طيبة
34,117,Salalah,OM,84.20,clear sky,17.02,54.09,HAMDAN PLAZA HOTEL
124,418,Nizwa,OM,82.58,clear sky,22.93,57.53,Orient Apartments

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))