In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Yellowknife,CA,2020-05-09 19:42:26,62.46,-114.35,32.00,65,20,9.17,few clouds,0.0,0.0
1,1,Rikitea,PF,2020-05-09 19:42:26,-23.12,-134.97,75.69,64,0,1.95,clear sky,0.0,0.0
2,2,Port Macquarie,AU,2020-05-09 19:42:27,-31.43,152.92,53.01,94,0,13.49,clear sky,0.0,0.0
3,3,Port Alfred,ZA,2020-05-09 19:42:27,-33.59,26.89,62.01,96,1,1.99,clear sky,0.0,0.0
4,4,Atuona,PF,2020-05-09 19:42:27,-9.80,-139.03,81.19,76,94,17.87,overcast clouds,0.0,0.0

In [3]:
city_data_df.dtypes

City_ID                       int64
City                         object
Country                      object
Date                         object
Lat                         float64
Lng                         float64
Max Temp                    float64
Humidity                      int64
Cloudiness                    int64
Wind Speed                  float64
Current Description          object
Rain inches (last 3 hrs)    float64
Snow inches (last 3 hrs)    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
raining = input("Do you want it to be raining? (yes/no) ")
snowing = input("Do you want it to be snowing? (yes/no) ")

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [6]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
1,1,Rikitea,PF,2020-05-09 19:42:26,-23.12,-134.97,75.69,64,0,1.95,clear sky,0.0,0.0
4,4,Atuona,PF,2020-05-09 19:42:27,-9.80,-139.03,81.19,76,94,17.87,overcast clouds,0.0,0.0
7,7,Santa Maria Del Oro,MX,2020-05-09 19:42:28,25.93,-105.37,79.14,22,9,3.56,clear sky,0.0,0.0
24,24,Kieta,PG,2020-05-09 19:42:32,-6.22,155.63,80.24,81,75,5.37,light rain,0.0,0.0
27,27,Luganville,VU,2020-05-09 19:42:32,-15.53,167.17,77.00,83,40,5.82,scattered clouds,0.0,0.0
30,30,Palmerston,AU,2020-05-09 19:42:33,-12.49,130.98,77.00,83,43,4.70,scattered clouds,0.0,0.0
38,38,Kapaa,US,2020-05-09 19:42:35,22.08,-159.32,75.20,73,75,18.34,light rain,0.0,0.0
39,39,Victoria,HK,2020-05-09 19:42:35,22.29,114.16,82.99,85,69,5.99,broken clouds,0.0,0.0
43,43,Alofi,NU,2020-05-09 19:42:36,-19.06,-169.92,78.80,88,51,5.82,broken clouds,0.0,0.0
45,45,Hithadhoo,MV,2020-05-09 19:42:36,-0.60,73.08,85.06,77,100,13.58,light rain,0.0,0.0

In [7]:
preferred_cities_df.count()

City_ID                     167
City                        167
Country                     167
Date                        167
Lat                         167
Lng                         167
Max Temp                    167
Humidity                    167
Cloudiness                  167
Wind Speed                  167
Current Description         167
Rain inches (last 3 hrs)    167
Snow inches (last 3 hrs)    167
dtype: int64

In [8]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, 
# Current Description and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,75.69,clear sky,-23.12,-134.97,
4,Atuona,PF,81.19,overcast clouds,-9.80,-139.03,
7,Santa Maria Del Oro,MX,79.14,clear sky,25.93,-105.37,
24,Kieta,PG,80.24,light rain,-6.22,155.63,
27,Luganville,VU,77.00,scattered clouds,-15.53,167.17,
30,Palmerston,AU,77.00,scattered clouds,-12.49,130.98,
38,Kapaa,US,75.20,light rain,22.08,-159.32,
39,Victoria,HK,82.99,broken clouds,22.29,114.16,
43,Alofi,NU,78.80,broken clouds,-19.06,-169.92,
45,Hithadhoo,MV,85.06,light rain,-0.60,73.08,

In [9]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [10]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
#     # Grab the first hotel from the results and store the name.
#     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,75.69,clear sky,-23.12,-134.97,Pension Maro'i
4,Atuona,PF,81.19,overcast clouds,-9.80,-139.03,Villa Enata
7,Santa Maria Del Oro,MX,79.14,clear sky,25.93,-105.37,Hotel Palacio Del Sol
24,Kieta,PG,80.24,light rain,-6.22,155.63,
27,Luganville,VU,77.00,scattered clouds,-15.53,167.17,The Espiritu Hotel
30,Palmerston,AU,77.00,scattered clouds,-12.49,130.98,Quest Palmerston - Serviced Apartments and Acc...
38,Kapaa,US,75.20,light rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
39,Victoria,HK,82.99,broken clouds,22.29,114.16,Mini Hotel Central
43,Alofi,NU,78.80,broken clouds,-19.06,-169.92,Taloa Heights
45,Hithadhoo,MV,85.06,light rain,-0.60,73.08,Scoop Guest House

In [12]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [14]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))